<div class="container">
    <h5 >Customer  Form</h5>
<form [formGroup]="CustemerForm" >

    <div class="row">
        <div class="col-md-6">
            <input type="text" formControlName="firstName" placeholder="First Name" class="form-control">

        </div>
        <div class="col-md-6">
            <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="number" formControlName="mobileNo" placeholder="Mobile No" class="form-control">

        </div>
        <div class="col-md-6">
            <input type="text" formControlName="address" placeholder="Address" class="form-control">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="email" formControlName="email" placeholder="Email" class="form-control">

        </div>
        <div class="col-md-6">
            <input type="number" formControlName="age" placeholder="Age" class="form-control">

        </div>
    </div>
<div class="col-md-6">
    <input type="date" formControlName="dob" placeholder="Date of Birth" class="form-control">

</div>
    <div class="btns">
        <button class="btn btn-outline-primary" type="submit" (click)="onSubmit()">Submit</button>

    </div>
  </form>
</div>