
.container{
    display: flexbox;
}
img{
    height: 30vh;
    width: 20vw;
}
.cartList{
    display: flex;
    justify-content: space-around;
}
h5{
    text-align: center;
    padding: 2vw;
}
label{
    font-weight: bold;
margin-left: 10vw;
}
