header {
    background-color: #bee9f0;
    padding: 10px 0;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  nav ul li a {
    font-weight: bold;
    color: rgb(37, 35, 35);
    text-decoration: none;
  }
  .active {
    color: rgb(40, 55, 169); 
    border-bottom: 3px solid #2217b4;
  }