<header>
  <div class="container">
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/shoppingCart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shopping Cart</a></li>
        <li><a routerLink="/custemerDetail" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">Customer Detail</a></li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>