<div class="container">
  <div>
    <h5>Available Products</h5>

  </div>
  <!-- <div> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Product <i class="ri-add-line"></i>
    </button></div> -->


  <div class="card" *ngFor="let product of products">
    <div>
      <img [src]="product.img" class="card-img-top" alt="...">

    </div>
    <div class="card-body">
      <h5>{{ product.name }}</h5>
      <div id="bottom">
        <p>Price: ${{ product.price }}</p>
        <button class="btn btn-outline-primary" (click)="addToCart(product)">Add to Cart <i
            class="ri-add-line"></i></button>
      </div>
    </div>
  </div>


 
  
</div>